@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body{
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url('../../images/ceit-bg.jpg');
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

/* css for forgot_password.php and verification-code.php*/
.container1{
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.35);
    position: relative;
    overflow: hidden;
    width: 500px;
    min-height: 280px;
}
form{
    width: 300px;
    margin-top: 30px;
    margin-left: -82px;
}
.button{
    background-color: #000000;
    color: #fff;
    cursor: pointer;
}
a{
    color: #333;
    font-size: 15px;
    text-decoration: none;
    margin-left: 100px;
}

/* css for reset_password.php */
.container{
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.35);
    position: relative;
    overflow: hidden;
    width: 500px;
    min-height: 310px;
}
.password-icon1{
    position: absolute;
    right: -55px;
    top: 135px;
    cursor: pointer;
}
.password-icon2{
    position: absolute;
    right: -55px;
    top: 190px;
    cursor: pointer;
}
