@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body{
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url('../../images/ceit-bg.jpg');
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.35);
    position: relative;
    overflow: hidden;
    width: 500px;
    min-height: 280px;
}
form .input-field {
    flex-direction: row;
    column-gap: 10px;
    
}
.input-field input {
    height: 45px;
    width: 42px;
    border-radius: 6px;
    outline: none;
    font-size: 1.125rem;
    text-align: center;
    border: 1px solid #ddd;
}
.input-field input:focus {
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}
.input-field input::-webkit-inner-spin-button,
.input-field input::-webkit-outer-spin-button {
    display: none;
}

.button{
    background-color: #000000;
    color: #fff;
    cursor: pointer;
    transition: all 0.2s ease;
    pointer-events: none;
}
form button.active {
    background: #006400;
    pointer-events: auto;
}
.text{
    font-size: 15px;
}
.timer{
    font-size: 15px;
}
#resend-code {
    border: 0px;
    background-color: transparent;
    cursor: pointer;
    color: blue;
}

/* #resend-code:active {
    outline: transparent;
    border: 0px;;
    outline-style: none; */
