@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.nav-tabs .nav-link {
    font-size: 16px;
    color: #666;
}

.nav-tabs .nav-link.active {
    background-color: #28a745;
    color: #fff;
}

/*.content{
    background-color: none;
    border: none;
    margin: 20px 10px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

}*/

.title {
    font-weight: bold;
    text-align: center;
    padding-top: 30px;
    color: #28a745;
}
.container {
    max-width: 90%;
}

.table-container {
    max-height: 300px; 
    overflow-y: auto;

}
.table-container::-webkit-scrollbar {
    width: 8px; 
}

.table-container::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

.table-container::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 10px; 
}

.table-container::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

.table {
    text-align: center;
}

.table th, .table td {
    vertical-align: middle;
}

.table th {
    background-color: #f8f9fa;
    font-size: 14px;
}

.table tr {
    font-size: 13px;
    cursor: pointer;
}

h5 {
    font-weight: bold;
    padding: 0 10px;
    text-align: center;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.schedule-table-container {
    margin-top: 20px;
    max-width: 100%;
    max-height: 438px; 
    overflow-y: auto;
    position: relative;
}

.schedule-table-container::-webkit-scrollbar {
    width: 8px; 
}

.schedule-table-container::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

.schedule-table-container::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 10px; 
}

.schedule-table-container::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

.schedule-table {
    width: 100%; /* Set the table width to 100% */
    border-collapse: collapse;
    background-color: transparent; 
    position: relative; 
}

.schedule-table td,
.schedule-table th {
    border: 1px solid #ddd;
    padding: 10px;
    vertical-align: middle;
    text-align: center;
}

.schedule-table th {
    text-align: center;
    background-color: #eeeeee;
    color: #333;
    font-weight: bold;
    font-size: 12px;
}

.schedule-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.text {
    margin: 10px;
    font-weight: bold;
}

.time-slot {
    font-weight: bold;
    background-color: #eeeeee !important; 
    font-size: 0.85em; 
    white-space: nowrap; 
    padding: 0.5rem; 
}


.modal-dialog {
    max-width: 80%; 
    margin: 1.5rem auto; 
}

.modal-content {
    border-radius: 0.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.modal-body {
    padding: 1rem;
}

.modal-footer {
    border-top: 1px solid #dee2e6;
    padding: 0.75rem;
}

.search-bar-container {
    display: flex;
    align-items: center;
    margin: 10px 0px; 
}

.search-bar-container .col-md-3 {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.search-bar-container .form-group input {
    margin: 5px;
    font-size: 14px;
}
 #searchbtn {
    background-color: #f4560e;
    color: white;
    font-size: 14px;
}

.text-center {
    font-size: 13px;
    border-top: none;
    display: none;
}

.d-flex {
    display: flex;
    align-items: center;
}

.delete-btn {
    display: none; 
    position: absolute; 
    right: 10px; 
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    font-size: 15px;
}

.stop-btn {
    display: none !important; 
    position: absolute; 
    right: 10px; 
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    font-size: 15px;
}


tr:hover .delete-btn,
tr:hover .edit-btn,
tr:hover .share-btn, 
tr:hover .stop-btn {
    display: block; 
}

td {
    position: relative; 
    padding: 10px; 
}

.edit-btn {
    display: none; 
    position: absolute; 
    right: 40px; 
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    font-size: 15px;
}



.share-btn {
    display: none; 
    position: absolute; 
    right: 73px; 
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    font-size: 15px;
}

.equal-width {
    width: 45%;
    text-align: center;
}

/* .checkbox-large {
    width: 13px;
    height: 13px;
    cursor: pointer;
}

.check {
    align-items: left;
    text-align: left;
} */

.button-group {
    display: flex; 
    align-items: center; 
    margin-top: 15px;
}

.change-btn {
    background-color: transparent;
    border: none;
    color: rgb(0, 0, 0);
    margin: 0px 10px;
    font-size: 12px;
    cursor: pointer;
}


.del-btn, .pub-btn {
    padding: 0px 5px;
    outline: none;
    font-size: 19px;
    cursor: pointer;
    display: none;
}

.del-btn {
    background-color: transparent;
    border: none;
    color: rgb(0, 0, 0);
}



form {
    flex-grow: 1; 
}

