@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

nav {
    background-color: #fff;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

.navbar {
    height: 80px;
}

.navbar-brand {
    display: flex;
    align-items: center;
    margin-left: 50px;
}

.navbar-brand img {
    width: 70px;
}

.schedsys {
    font-size: 25px;
    color: #28a745;
    margin-left: 10px;
    margin-top: 20px;
}

.navbar-icons {
    color: #28a745;
    font-size: 25px;
    gap: 20px;
    margin-right: 70px;
}

.navbar-icons a {
    color: #28a745;
    margin-top: 3px;
    cursor: pointer;
}

.navbar-icons i{
    cursor: pointer;
}
/* content */

h5 {
    text-align: center;
    font-weight: bold;
    margin-top: 40px;
}

input::placeholder {
    font-size: 14px; /* Adjust font size */
    color: #999;     /* Adjust color */
}

input:focus::placeholder {
    color: #ccc; /* Optional: Change color on focus */
}

.form-group label {
    font-weight: bold;
}

.form-control {
    border-radius: 5px;
}

.input-form {
    font-size: 15px;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 260px;
    height: auto;
    margin-bottom: 50px;
    margin-left: -80px;
}

table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse; 
}

.account-table {
    font-size: 14px;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 1000px;
    height: auto;
    margin-left: -190px;
    margin-bottom: 20px;
    border: none;
    overflow-x: auto;
}

.account-table th {
    text-align: left;
    vertical-align: middle;
    padding: 15px 10px;
    font-weight: bold;
    background-color: #f9f9f9;
    border-bottom: 2px solid #ddd;
    height: 30px;
    line-height: 30px;
}

.account-table td {
    text-align: left;
    vertical-align: middle;
    padding: 15px 10px;
    border-bottom: 1px solid #ddd;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}

.account-row {
    transition: background-color 0.3s ease;
}

.account-row:hover {
    background-color: #ddd;
}

.account-table th, .account-table td {
    width: 100px;
    border-left: none;
    border-right: none;
}


.account-table td:nth-child(6), 
.account-table th:nth-child(6), 
.account-table td:nth-child(7), 
.account-table th:nth-child(7) {
    text-align: center; /* Center align 'Slots' and 'Units' */
}

.account-table tr td:first-child, 
.account-table tr th:first-child {
    border-left: none; /* Remove left border from first column */
}

.account-table tr td:last-child, 
.account-table tr th:last-child {
    border-right: none; /* Remove right border from last column */
}

.button-group {
    text-align: center;
}

.button-group .btn {
    margin-right: 10px;
    margin-bottom: 20px;
}

.btn-success {
    background-color: #28a745;
    border: none;
}

.btn-primary {
    background-color: #007bff;
    border: none;
}

.btn-warning {
    background-color: #ffc107;
    border: none;
}

.btn-danger {
    background-color: #dc3545;
    border: none;
}

.pagination {
    margin-top: 20px;
    border: none;
    justify-content: center;
    display: flex;
}

.pagination .page-item.disabled .page-link {
    color: #d1d6db;
    background-color: #e9ecef;
    border-color: #dee2e6;
}

.pagination .page-item .page-link {
    color: #28a745;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    margin: 0 5px;
    padding: 10px 15px;
}

.pagination .page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
}

.pagination .page-item .page-link:hover {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
}
